body {
	font-family:Helvetica, sans-serif;
    background-color: rgb(238, 235, 221);
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    .canvasTable {
        width: 100%;
        height: calc(100% - 30px);
        border-collapse: collapse;
        td {
            padding: 10px;
            /* border: 1px solid #ddd; */
        }
        td:nth-child(1) {
            vertical-align: middle;
            white-space: nowrap;
            padding-bottom: 2px;
            .canvas {
                border: 1px solid #000000;
                display: inline-block;
            }
        }
        td:nth-child(2) {
            vertical-align: middle;
            white-space: nowrap;
            padding-left: 0px;
        }
    }

    .statusTable {
        width: 100%;
        height: 24px;
        border-collapse: collapse;
        td {
            padding: 0px;
            /* border: 1px solid #ddd; */
        }
        td:nth-child(1) {
            vertical-align: top;
            white-space: nowrap;
            .status {
                padding-left: 10px; 
                vertical-align: middle;
            }
        }
        td:nth-child(2) {
            vertical-align: top;
            white-space: nowrap;
            width: 240px;
            text-align: right;
        }
    }

    .xfer {
        position: absolute;
        background: gray;
        border: 1px solid rgb(0, 0, 0);
        width:50%;
        height: 50%;
        padding: 0px;
        resize: both;
        min-width: 320px;
        min-height: 180px;
    
        .textBar {
            width: calc(100% - 0px);
            padding: 0px;
            display: flex;
            justify-content: right;
        }
    
        .text {
            height: calc(100% - 64px);
            width: calc(100% - 16px);
            padding: 0px 8px 8px 8px;
    
            textarea {
                height: 100%;
                width: 100%;
                padding:1%;
                border: 1px solid #131111;
                box-sizing: border-box;
                background: lightgray;
                white-space: nowrap;
                font-family:'Courier New', Courier, monospace;
                font-size:18px;
                font-weight: bold;
                resize: none;
            }
        }
    
        .buttons {
            width: calc(100% - 16px);
            height: 20px;
            padding: 0px 8px 8px 8px;
            display: flex;
            justify-content: space-between;
        }
    }
    
    .console {
        position: absolute;
        background: rgb(226, 226, 226);
        border: 1px solid rgb(0, 0, 0);
        top: 8px;
        left: 50%;
        width: calc(50% - 2px);
        height: calc(100% - 30px);
        display: none;
    }
}

.ctxmenu {
    font-family:Helvetica, sans-serif;
    font-size: 10pt;
    display: none;
    position: fixed;
    background: rgb(238, 235, 221);
    color: black;
    cursor: pointer;
    border: 1px black solid;

    p {
        display: flex;
        align-items:left;
        padding: 2 1rem 0 1rem;
        margin: 0;
    }

    p:hover {
        background: rgb(116, 116, 116);
        color: ghostwhite;
    }

    label {
        flex: 0 0 60px;
    }

    input {
        flex: 1;
        width: 32px;
    }

    .menu-separator {
        border: none;
        border-top: 1px solid #ccc;
        margin: 2px 0;
    }

}

